* {
    box-sizing: border-box;
}
.backgroundAboutme {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-ondulado-morado_1035-8665.jpg?w=2000);
}

.title1 {
    color: #050505;
    text-shadow: 0 0 3px #4e4e4e;
}
@media(max-width: 500px) {
    .row>.col-sm-6>#barleft>.col-sm-1>.about-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1px;
    }
}

@media(min-width: 00px) {
    .about-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.container {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-ondulado-morado_1035-8665.jpg?w=2000) !;
    width: 100%;
        padding-right: 18px;
            padding-left: 18px;
            margin-right: auto;
            margin-left: auto;
}

.about-mf {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
}

.about-mf .box-shadow-full {
    width: 600px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#barleft {
    padding-left: 2rem;
}

.box-shallow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 0 30px #050505;
}

.socials {
    display: inline-block;
    padding-top: 3rem;
    padding-left: 4rem;
}

.resum {
    font-style: italic;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-right: 5rem;
}