.container {
    padding-top: 2cm;
}

#projectsSec{
    background: linear-gradient(to top, rgb(98 78 98 /40%),rgb(185, 145, 185)), url(https://wallpaperaccess.com/full/4123559.jpg);
    margin-top: 5rem;
    padding: 3rem 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    padding-top: 25px;
    color: #050505;
    text-shadow: 0 0 3px #4e4e4e;
}

.sectionCards {
    margin: 1cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 6rem;
}