* {
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(to top, rgb(98 78 98 /40%),rgb(219, 214, 219));
}

#index {
    background: linear-gradient(to top, rgb(98 78 98 /70%),rgb(185, 145, 185)), url(https://www.itprotoday.com/sites/itprotoday.com/files/programming%20evolution.jpg);
    background-size: cover;
    height: 40rem;
}

#navegationBar{
    width: 100%;
}

.nameDora {
    font-size: x-large;
    font-weight: 700;
}

.topNav {
    color: aliceblue;
    font-weight: 300;
}

.barnavprin {
    background-color: rgb(96, 65, 96);
}

.barnavaside {
    background-color: rgb(160, 140, 160);
}

.medium1 {
    padding: 90px;
}

.tittleDora{
    color:#fff; text-decoration: none;
}

#womanicon {
    width: 100px;
    height: auto;
}


footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    clear: both;
}

#derFooter{
    grid-column: 1/11;
    background-color: rgb(160, 152, 160);
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialFooter {
    grid-column: 11/13;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background-color: rgb(96, 65, 96);
}
