* {
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background: radial-gradient(rgb(135, 60, 145), rgb(235, 183, 213)); */
    background-image: url(https://cdn.pixabay.com/photo/2020/04/24/13/00/purple-background-5086795_1280.jpg);
}


.barnavprin {
    background-color: rgb(102, 83, 102);
}

.barnavaside {
    background-color: rgb(185, 145, 185);
}

.medium1 {
    padding: 90px;
}

#womanicon {
    width: 100px;
    height: auto;
}



footer {
    text-align: center;
    clear: both;
}

.social {
    display: inline-block;
}